*{
    background-color: rgb(148, 189, 255);
    color: rgb(150, 124, 91);
}
.h{
    color: rgb(117, 238, 87);
    background-color: rgb(88, 5, 2);
}

.he{
    background-color: rgb(35, 22, 48);
    color: beige;
}