*{

    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    /* background-color: rgb(225, 224, 231); */
    background-color:#264653;
}

:root{
    --text-use:#20ebfa;
    --primary-text-color:#315774;
    --secondary-text-color:#577592;
    --accent-color:#1d69a3;
    --pading-inline-section:20px;
    --accent-color-dark:#3f3c3c;
}
ul {margin-inline: 40px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li{ margin-right: 20px;
    margin-inline: 40px;
    margin-top: 35px;
    display: inline-flex;
    justify-content: space-between;
    font-weight: 600;
}
button a{
    padding: 4px 4px;
    border-radius: 8px;
    background-color: #5b4bf0;
    color: #ffffff;
    margin-inline: 30px;
    
}
.content{
    background-color: #50e7f1;
}
#welcome{
    font-weight: 900;
    text-align: center;
    background-color: #16325B;
    color: #000000;
    position:sticky;
    top: 0;

}
#nav{
    text-align: center;
    border-style: solid;
    /* border-width: 10px;
    border-color:rgb(23, 58, 58);*/
    background-color:#096f7a2f;

    color: #71bfd3;
    display:flex;
    justify-content:center;
}
.navm{
    margin-left: 0px;
}
.navm h1{
    font-size:30px;
}
.logo{
    margin-right: 60px;

    height: 100px;
    width: 100px;    
}
#logo1{
    height: 100px;
    width: 100px;  
}
#logo1:hover{
    transform:rotateY(720deg);
    transition: 2s;
    /* saftey perpus */
    /* display: none; */
}
#navbar{
    background-color: #0d3146;
    /* margin-top: 0px; */
    transition:2s;
    transform:rotate3d(360deg)

}
.navn{
    
    margin-left: 0px;
    display:flex;
    justify-content:center;
    /* color: #151552; */
    color: #534747;
    font-size:medium;
    /* filter: drop-shadow(0.5rem , 0.5 rem ,0.5rem #000033); */
    width: 100%;
    /* max-width: 14rem; */
    
}


.navn li a:hover{
    color:#e081a6;
    transition: 2s;
    transform-style: preserve-3d;
    transform:rotateX(360deg);

}
.navn li{
    margin-top: 0px;
}
.navn li a{
    
    color: white;
    border-right: 5px;
    margin-inline: 10px;
}
button :hover{
    background-color: rgb(255, 255, 255);
    color: rgb(54, 14, 233);
}
#clock{
    justify-items: center;
    font-weight: 500;
    color: rgb(213, 213, 245);
    background-color: #192747;
    
}

                /* middle in top */
#midle{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.leftside{
    display: inline-block;
    justify-content: space-between;
    color: #c54b4b;
    width: 100px;
    background-color: #574848;
}
.leftside li  a{
    width: 20px;
    height: 20px;
}
#iconleft li  a:hover{
    box-shadow: 0 0 5px cyan,0 0 25px rgb(166, 178, 243),0 0 50px rgb(155, 199, 142),0 0 100px rgb(255, 97, 97),0 0 200px rgb(102, 8, 63);
    border-radius: 50%; 
    /* transition: .2s;  */
    transition: 4s;
    transform-style: preserve-3d;
    transform:rotateX(7200deg);
}
.iconright li img:hover{
    transform:rotate(1080deg);
    transition: 1s;
}
.rightside{
    display: inline-block;
    justify-content: space-between;
    width: 150px;
    background-color: #16325B;
}
footer{
    text-align: center;
    background-color: #05668dc2;
}



              /* home bar */
.home{color: #86d6eb;
      position: relative;
      margin-left: 40px;
      margin-right: 0;
      width: 100%;
      justify-content: space-between;
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        }
            
            .home-content h3{
                padding: 20px 0;

                width: 100%;
                font-size: 30px;
                font-weight: 700;
            }
            
            .home-content h1{
                font-size: 50px;
                font-weight: 700;
                margin: -10px 0;
            }
            .home-content p{
                display: flex;
                margin-left: 0;
                font-size: 20px;
            }
            .home-sci a{
                
                margin-top: 20px;
                display: inline-flex;
                text-decoration: none;
                justify-content: center;
                align-items: center;
                width: 40px;
                height: 40px;
                background-color: transparent;
                border:2px solid rgb(144, 245, 252);
                border-radius: 50%;
                font-size: 20px;
                color:rgb(144, 245, 252);
            }
            .home-sci a:hover{
    
                background: rgb(77, 162, 231);
                color: #000000;
                box-shadow: 0 0  20px rgb(54, 202, 228);
                transition: 2s;
                transform-style: preserve-3d;
                transform:rotateY(360deg);
            }
            
            .btn-box{
                display: inline-block;
                margin-top: 20px;
                padding:  8px 20px ;
                color: #322738;
                background: rgb(57, 197, 216);
                border-radius: 40px;
                font-size: 16px;
                letter-spacing: 1px;
                text-decoration: none;
                font-weight: 600;
            
            }
            .btn-box:hover{
                background: #039191;
                color: #000000;
                box-shadow: 0 0  20px rgb(105, 129, 207);
                transition: 2s;
                transform-style: preserve-3d;
                transform:rotateX(360deg);
                box-shadow: 0 0 5px rgb(50, 207, 207),0 0 25px rgb(33, 194, 194),0 0 50px rgb(25, 184, 184),0 0 100px rgb(27, 194, 194),0 0 200px rgb(24, 184, 184);
            }
#footer{
    font-weight: 400;
    background-color: #28283a;
    color: rgb(209, 223, 231);
    padding-bottom: 0px;
    margin-bottom: 0px;
    
}
#foot{
    background-color: #090224;
    color: rgb(248, 248, 248);
    font-weight: 700;
    display:flex;
    justify-content:space-evenly;
}
.footbut{

    margin-top: 20px;
}
#foot ul li{

    color: #a1e1ec;
    margin: 10px;
    font-size:80%;
    font-weight: 500;
    display: block;
}
#foot ul li:hover{
    color: #f8b118;
}
.comm{
    
    margin-top: 100px;
}
.comment{
    display: flex;
    margin-top: 5px;
    padding: 4px 15px;
    border-radius: 5px;
    background-color: #90a8f8;
    color: #000000;
}
.suggestion{
    background-color: rgb(255, 115, 1);
    color:#000000;
}
.yarri{
    background-color: rgb(184, 37, 204);
    color:#000000;
}
.comm ul :hover{
    background-color: #20ebfa;
    color: #000000;
}
/* .footbut{
    color: #20ebfa;
} */
.update{
    padding-inline: 130px;
    font-weight: 400;
    display:flex;
    justify-content: space-between;
    font-size: small;
    color: #ffffff;
    background-color: #504d52;
}
.update div a{
    
    justify-content:space-between;
    display: flex;
    padding-right: 0;
}
.flag{
    display: flex;
    height: 16px;
    width: 16px;
}
/*        about section         */
.wel{display: block;
    position:sticky;
    font-weight: 500;
    font: sans-serif;
    color:#dfd1d9;
    background-color: #004a4d;
    text-align: center;
}
.uselang {
    /* background-color: #000033; */
    display: flex;
    justify-content: center;
}
.uselang img{
    margin-top: 20px;
    /* height: 230px; */
    width: 270px;
}
.uselang :hover{
    transform:rotate3d(3, 2, 5,360deg);
    transition: 2s;
}
#aboutmid{
    max-width:800px;
    margin-top: 60px;
    display: flex;
    justify-content: center;
}
#abhimg{
    height: 120px;
    width: 120px;
}
#abwik{
    color: #ffffff;
    margin-left: 30px;
    width: 100%;
}


/* skill  section */
#skills{
    margin-top: 20px;
    color: #ff8a1d;
    text-decoration:solid;
    /* background-image: url( 'images/back.png'); */
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    font-weight: 500;
    font-size:large;
}
.lang{
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 300;
    font-weight: 900;
    
}
.lang ::after{
    content: "";
    display: inline-block;
    transform: rotate(180deg);
    transition: 2s;
}
.lang:hover::after {
    transform: rotate(180deg);
}

.lang ul li{
    color:#44c1e0;
    margin-left: 30px;
    margin-top: 20px;
    height: 40px;
    width: 40px;
}

/* form  comment section */


.title{
    color: rgb(12, 248, 217);
}
.commentbar h1{
    margin: 20px;
    font-weight: 800;
    font-size:40px;
    /* font-size: xx-large; */
    justify-items: center;
    
}
.form{
    max-width: 600px;
        
        margin: auto;
        
        padding: 10px;
        
        border: 1px solid #ccc;
        
        border-radius: 5px;
    background-color: rgb(0, 55, 105);
}
.form label {
    display: block;
       
       margin-bottom: 5px;
    color: rgb(12, 225, 240);
    background-color: rgb(0, 55, 105);
}
.form input,textarea{
    width: 100%;  
    padding: 8px;
    margin-bottom: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: rgb(6, 61, 87);
    color: aliceblue;
}
#feedback{
    background-color: rgb(6, 61, 87);
    color: aliceblue;
}
.form  input[type="submit"] {
        
    background-color: #4CAF50;
    
    color: white;
    
    border: none;
    
    cursor: pointer;
}

.form input[type="submit"]:hover {
    
    background-color: #45a049;
}
.com{
    background-color:rgb(0, 29, 31);
    color: rgb(242, 241, 255);
    /* display:inline-block;
    justify-items:auto; */
    padding: 5px;
    border-radius: 5px;
    border-width: 13px;
    border-color: rgb(65, 2, 2);
}
.commm{
    margin: 5px;
    background-color: #004a4d;
    border-radius: 5px;
    border-width: 4px;
    border-color: rgb(78, 76, 160);

}
.use{
    margin: 5px;
    border-radius: 5px;
    border-width: 4px;
    background-color: #3f2f47;
    border-color: rgb(57, 24, 109);
}








@media screen and (max-width: 600px) {
    
    li{ margin-inline: 10px;
        margin-top: 0;
        display:inline-block;
        justify-content: space-between;
    }
    button a{
        padding: 1%;
        margin-top: 10px;
        margin-inline: 10px;
        display: inline-block;
        
    }
    #nav{
        background-color: #264653;
        border: 2px #8fb6d4;
        height:fit-content;
        height: 70px;
    }
    .navm h1{
        font-size:15px;
    }
    /* .navn li{
        margin-top: 10px;
    } */
    .navn li a{
    
        color: rgb(36, 156, 172);
        border-right: 5px;
        margin-inline: 2px;
    }
    .logo{
        height: 70px;
        width: 70px;
        font-family: sans-serif;
    }
    #logo1{
        max-height: 70px;
    }
    #welcome{
        display: none;
        /* text-transform: uppercase; */
        font-weight: 500;
        text-align: center;
        background-color: #420a68;
        color: #000000;
    }
    .uselang img{
        margin-top: 10px;
        /* height: 230px; */
        width: 200px;
    }
    #midle{
        display:inline-flexbox;
        justify-content: space-between;
    }
    
    .iconleft{
        display: flex;
        width: 100px;
        height: 400px;
        background-color:var(--accent-color-dark);
    }
    #iconleft a{ 
        /* padding-top: 40px; */
        /* margin-top: 0; */
        display:inline-block;
        justify-content:space-evenly;
    }
    #iconleft img{
        margin-top: 30px;
        /* padding-top: 30px; */
        align-items:center;
        display:table-row;
        justify-content:space-evenly;
    }
    #iconleft li  a:hover{
        box-shadow:none ;
        /* border-radius: 50%;  */
        /* transition: .2s; */
        transition: 0s;
        transform-style:preserve-3d;
        transform:rotateX(360);
    }
    .iconright{
        width: 40px;
    }
    .rightside {
        background-color: #1b3d4b;
        display:flex;
        width: 40px;
    }
    #footer{
        font-size: small;
        font-weight: 400;
        background-color: #5b60b6;
        padding-bottom: 0px;
        margin-bottom: 0px;
        
    }
    #foot{
    
        padding-inline: 20px;
        /* font-size:90%; */
    }
    .update{
        padding-inline: 0;
    }


                /* home */
                .home{
                    margin-left: 0px;

                }
                .home-content h3{
                    padding: 20px 0;

                    width: 100%;
                    font-size: 25px;
                    font-weight: 500;
                }
                
                .home-content h1{
                    font-size: 30px;
                    font-weight: 500;
                    margin: -10px 0;
                }
                .home-content p{
                    font-size: 15px;
                }
                #what{
                    font-size: 15px;
                }
                .home-sci a{
                    
                    margin-top: 40px;
                    display: inline-flex;
                    text-decoration: none;
                    justify-content: center;
                    align-items: center;
                    width: 40px;
                    height: 40px;
                    background-color: transparent;
                    border:2px solid rgb(144, 245, 252);
                    border-radius: 50%;
                    font-size: 20px;
                    color:rgb(144, 245, 252);
                }
                .btn-box{
                    margin-top: 10px;
                }
    #aboutmid{

        max-width:100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    }
    #abhimg{
        margin-left: 20px;
        display: flex;
        height: 120px;
        width: 120px;
    }
    #abwik{
        margin-right: 0px;
       width: 230px;
    }

    /* skill */
    .comm{
        margin-top: 105px;
        justify-content:space-evenly;
        display: block;
        margin-left: 10px;  
    }
    /* .comment{
        margin:5px;
    } */
    .comment{
        display: flex;
        margin:4px;
        margin-top: 10pz;
        padding: 2px 4px;
        border-radius: 5px;
        
    }

    /* skill */
    .lang{
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-bottom: 10px;
        
    }
    
    .lang ul li{
        display: inline-block;
        margin-left: 20px;
        margin-top: 10px;
        height: 40px;
        width: 40px;
    }



    /* comment section */
        .title h1{
            height: auto;
            font-size: 700;
            font-weight: 600;
            margin-top: 20px;  
        }
        .form{
            margin-top: 5px;
            /* font-size: 20; */
            height: 100%;
            width: 80%;
         
        }    
        .commentbar h1{
            margin: 30px;
            font-weight: 800;
            font-size:30px;
            /* font-size: xx-large; */
            justify-items: center;
            
        }
    
}