{% extends "base.html" %}
{% load static %}
{% load static tailwind_tags %}
{% tailwind_css %}
<script src="{% static 'javascript.js' %}"></script>
<link rel="stylesheet" href={% static "style.css" %}>

{% block content %}
<h1 class="wel" >About</h1>
{% endblock  %}

{% block inside %}
<div class="midlein home">
 <section id="aboutmid" >
        <div id="abhimg" ><a href="#">
            <img  src="{% static 'images/me2.jpg' %}" alt=""></a>
        </div>
        <div id = "abwik" class="home-content" >
            <h4>
            I am a passionate Computer Science Engineering student with a strong interest in software development, database management, and web technologies.<br>Currently working on a hospital management system using Python and SQL, I am also learning Django to enhance my skills in web development.<br>
            I enjoy solving complex problems, building efficient applications, and continuously improving my technical knowledge. My goal is to develop innovative solutions that make a real-world impact.
            </h4>
        </div>
</section>
</div>
{% endblock  %}

{% block leftside %}
        {% comment %} <div class="leftside">
            <ul id="iconleft" class="iconright">
                <li><a href="https://www.linkedin.com/in/abhaykush12" target="_blank">
                    <img src={% static 'icons/linkdin.png'%}>
                </a></li>
                <li><a href="https://github.com/abhaymaurya57" target="_blank">
                    <img src={% static 'icons/github.png'%}>
                </a></li>
                <li><a href="https://gmail.com/abh.mrya1" target='_blank'>
                    <img src={% static 'icons/gmail.png'%}>
                </a></li>
                <li><a href="f">
                    <img src={% static 'icons/gmail.png'%}>
                </a></li>
                <li><a href="f">
                    <img src={% static 'icons/gmail.png'%}>
                </a></li>
                <li><a href="f">
                    <img src={% static 'icons/gmail.png'%}>
                </a></li>
                
            </ul>
        </div> {% endcomment %}
{% endblock  %}

{% block midlerightside %}{% endblock  %}
{% comment %} {% block footer %}{% endblock  %} {% endcomment %}