{% extends "base.html" %}
{% load static %}
{% load static tailwind_tags %}
{% tailwind_css %}
<script src="{% static 'javascript.js' %}"></script>
<link rel="stylesheet" href={% static "style.css" %}>
{% block title %}
        Comment | Page
        {% endblock  %}
{% block content %}

<h1 class="wel" >comment</h1>

{% endblock  %}

{% block inside %} {% endblock  %}


{% block leftside %}{% endblock  %}

{% block midlerightside %}{% endblock  %}


{% block footer %}

{% comment %} {% for comm in comment %}
<div class="">
    <h3 class="">{{comm.comment}}</h3>
    <img src="{{comm.image.url}}" alt="" class="">
</div>
{% endfor %} {% endcomment %}

{% endblock  %}
{% load static %}
{% comment %} <link rel="stylesheet" href={% static "style1.css" %}> {% endcomment %}

{% block comment %}
<div class="commentbar">
    <h1 class ="title">Comment</h1>
    {% csrf_token %}
    <form action="/comment/" method="post" class="form">
        {% csrf_token %}
        <label for="name">*Name:</label>
        
        {% comment %} <input type="text" id="name" name="name" required><br><br> {% endcomment %}
        <input type="text" name="name" placeholder="Your Name" required>
    
        <label for="number" class="">phone No.</label>
        {% comment %} <input type="number" name="number" id="number"> {% endcomment %}
        <input type="text" name="number" placeholder="Your Phone Number">

        <label for="email">*Email:</label>
        
        {% comment %} <input type="email" id="email" name="email" required><br><br> {% endcomment %}
        <input type="email" name="email" placeholder="Your Email" required>
    
        <label for="feedback">Comment:</label><br>
        
        {% comment %} <textarea id="feedback" name="feedback" rows="4" cols="50" required></textarea><br><br> {% endcomment %}
        <textarea name="feedback" placeholder="Your Comment"></textarea>
    
        <input type="submit" value="Submit">
    {% comment %} <button type="submit">Submit</button> {% endcomment %}
    </form>
</div>
{% endblock  %}
