{% extends "base.html" %}
{% load static %}
{% load static tailwind_tags %}
{% tailwind_css %}
<script src="{% static 'javascript.js' %}"></script>
<link rel="stylesheet" href={% static "style.css" %}>
{% block title %}
        Contact
        {% endblock  %}
{% block content %}
{% comment %} <h1 class="wel" >Contact</h1> {% endcomment %}
{% endblock  %}

{% block navbar %}{% endblock  %}


{% comment %} {% block conte %}{% endblock  %} {% endcomment %}
{% comment %} {% block footer %}{% endblock  %} {% endcomment %}


{% block conte %}

<div class="commentbar">

    {% if yes %}
<div id="alert-box" class="alert-box">
    <span>{{ yes }}</span>
    <button onclick="closeAlert()">×</button>
</div>
{% endif %}


        <h1 class ="title">Contact</h1>
        {% csrf_token %}
        <form action="/contact/" method="post" class="form">
                {% csrf_token %}
                <label for="name">*Name:</label>
                <input type="text" name="name" placeholder="Your Name" required>

                <label for="number" class="">*phone No.</label>
                <input type="text" name="number" placeholder="Your Phone Number" required>
    
                <label for="email">*Email:</label>
                <input type="email" name="email" placeholder="Your Email" required>
        
                <label for="whatsapp">whatsapp No.</label><br>
                <input type="text"  name="whatsapp" placeholder="Your whatsapp No." required>
        
            <input type="submit" value="Submit">
            
        </form>
        
        
        
    </div>
{% endblock  %}