{% extends "base.html" %}
{% load static %}
{% load static tailwind_tags %}
{% tailwind_css %}
<script src="{% static 'javascript.js' %}"></script>
<link rel="stylesheet" href={% static "style.css" %}>
{% block title %}
        Contact | Page
        {% endblock  %}
{% block content %}
<h1 class="wel" >Contact</h1>
{% endblock  %}

{% block conte %}{% endblock  %}
{% block footer %}{% endblock  %}
{% block contact %}
<div class="commentbar">
        <h1 class ="title">Contact</h1>
        {% csrf_token %}
        <form action="/contact/" method="post" class="form">
                {% csrf_token %}
                <label for="name">*Name:</label>
                <input type="text" name="name" placeholder="Your Name" required>

                <label for="number" class="">*phone No.</label>
                <input type="text" name="number" placeholder="Your Phone Number" required>
    
                <label for="email">*Email:</label>
                <input type="email" name="email" placeholder="Your Email" required>
        
                <label for="number">whatsapp No.</label><br>
                <input type="text"  name="whatsapp" placeholder="Your whatsapp No." required>
        
            <input type="submit" value="Submit">
        </form>
    </div>
{% endblock  %}