
{% extends "base.html" %}
{% load static %}
{% load static tailwind_tags %}
{% tailwind_css %}
<link rel="stylesheet" href='{% static "style.css" %}'>
<script src="{% static 'javascript.js' %}"></script>


{% block title %} {% endblock  %}
{% block content %} {% endblock  %}

{% block conte %}
<div class="commentbar">
    <h1 class ="title">Admin Login</h1>
    {% csrf_token %}
    <form action="/upload/" method="POST" class="form">
        {% csrf_token %}
        <label for="username">*userid</label>
        
        <input type="text" name="userid" placeholder="userid" required>
    
        <label for="password" class="">*Password</label>
        <input type="password" name="password" placeholder="password">

        
        <input type="submit" value="Submit">
    </form>
    {% if error %}
    <p style="color: red;">{{ error }}</p>
    {% endif %}

{% endblock  %}


{% block footer %}{% endblock  %}